<br>
    <h1 style="font-family: 'Archivo Narrow', sans-serif;color:rgb(34, 26, 122)">Eat-Da-Burger!</h1>
<br>
<div class="row burger-info">
<div class="col-xs-12 col-md-4">
    <ul>
        <h5>Burgers</h5>
        {{#each burgers}}
        <!--not devoured-->
            {{#unless devoured}}
                <li>
                    <form action="/burgers/{{this.id}}?_method=PUT" method="POST">
                    <input name="devour" type="hidden" class="form-control">
                        <p>{{ burger_name }}
                        <button type="submit" data-id="{{this.id}}" class="btn btn-warning btn-xs" id="devour" style="font-family: 'Archivo Narrow', sans-serif">Devour</button>
                        </p>
                    </form>
                </li>
            {{/unless}}
        {{/each}}
    </ul>
</div>

<div class="col-xs-12 col-md-4">
    <h5>Already Devoured</h5>
    <ul style="opacity:0.8">
        {{#each burgers}}
            {{#if devoured}}
                <li>
                    <p>{{ burger_name }}
                    </p>
                </li>
            {{/if}}
        {{/each}}
    </ul>
</div>

<!--add a burger-->
<div class="col-xs-12 col-md-4">
    <!-- user add in burger name - default to 0 for devoured-->
    <form action="/burgers/create" method="POST">
        <label>Submit a Burger</label>
        <input name="new_burger" type="text" class="form-control">
        <br>
        <button class="btn btn-warning" style="font-family: 'Archivo Narrow', sans-serif">Submit</button>
    </form>
</div>

</div>