<br>
<h1>Burgers</h1>
<br>
<div class="row">
<div class="col-xs-12 col-md-6">
    <ul>
        {{#each burgers}}
        <!--not devoured-->
            {{#unless devoured}}
                <li>
                    <p>{{ burger_name }}
                        <button data-id="{{this.id}}" class="devour">Devour</button>
                    </p>
                    <br>
                </li>
            {{/unless}}
        {{/each}}
    </ul>
</div>

<div class="col-xs-12 col-md-6" style="float:right">
    <ul>
        {{#each burgers}}
            {{#if devoured}}
                <li>
                    <p>{{ burger_name }}
                    </p>
                    <br>
                </li>
            {{/if}}
        {{/each}}
    </ul>
</div>

</div>

<div class="row">
    <div class="col-xs-12 col-md-3"></div>
    <div class="col-xs-12 col-md-6">
        <!-- user add in burger name - default to 0 for devoured-->
        <form>
            <div class="form-group">
                <label for="submit-burger">Submit a Burger</label>
                <input type="text" class="form-control" id="submit-burger">
                <br>
                <button type="submit" class="btn btn-info">Submit</button>
            </div>
        </form>
    </div>
    <div class="col-xs-12 col-md-3"></div>
</div>