<h1>Burgers</h1>

<div class="row">
<div class="col-xs-12 col-md-6">
    <ul>
        {{#each burgers}}
        <!--not devoured-->
            {{#unless devoured}}
                <li>
                    <p>{{ burger_name }}
                        <button data-id="{{this.id}}" class="devour">Devour</button>
                    </p>
                    <br>
                </li>
            {{/unless}}
        {{/each}}
    </ul>
</div>

<div class="col-xs-12 col-md-6" style="float:right">
    <ul>
        {{#each burgers}}
            {{#if devoured}}
                <li>
                    <p>{{ burger_name }}
                    </p>
                    <br>
                </li>
            {{/if}}
        {{/each}}
    </ul>
</div>

</div>